.competition-form {
  // display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.competition-form__name {
  width: 280px;
  align-items: center;
  padding: 15px 20px;
  padding-bottom: 5px;
  margin: 0 auto;
}

@media @tablet-widths {
  .competition-form {
    flex-direction: row;
    justify-content: center;
    // display: flex;
  }
}

@media @desktop-widths {
  .competition-form {
    flex-wrap: wrap;
    flex-direction: column;
    // display: flex;
    align-items: stretch;
    width: 940px;
    margin: 0px auto;
  }
}

.competition-form__submit-text {
  display: none;
}

.competition-form__name:nth-child(3) {
  padding-bottom: 32px;
}

.competition-form__phone-legend,
.competition-form__radio-block-title,
.competition-form__fieldset legend {
  display: none;
}

@media @tablet-widths {
  .competition-form__name {
    width: 620px;
    display: flex;
    padding-right: 70px;
    padding-left: 20px;
    padding-bottom: 35px;
    margin: 0 auto;
  }

  .competition-form__name:nth-child(3) {
    padding-bottom: 16px;
  }
}

.competition-form__name input {
  padding: 18px 0px;
  font-size: 18px;
  color: @text-color;
  padding-left: 20px;
  width: 256px;
  letter-spacing: 0.6px;
  border: 2px solid #e5e5e5;
}

.competition-form__name label {
  margin-bottom: 12px;
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  width: 280px;
  padding-left: 25px;
  justify-content: left;
  display: flex;
}

.competition-form__submit-text span,
.competition-form__explanation span {
  color: @pink-color;
}

.competition-form__reverse-wrapper {
  width: 100%;
}

.competition-form__phone,
.competition-form__mail {
  align-items: center;
  padding: 15px 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
 }

.competition-form__phone label,
.competition-form__mail label {
  margin-bottom: 12px;
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  width: 280px;
  padding-left: 25px;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  display: flex;
}

.competition-form__phone input,
.competition-form__mail input {
  padding: 18px 0px;
  font-size: 18px;
  color: #283645;
  padding-left: 20px;
  width: 258px;
  letter-spacing: 0.6px;
  border: 2px solid #e5e5e5;
}


@media @tablet-widths {
  .competition-form__name:nth-child(1) input {
    padding-right: 240px;
    display: flex;
    letter-spacing: 0px;
  }

  .competition-form__name label {
    margin-bottom: 0px;
    margin-right: 20px;
  }

  .competition-form__name:nth-child(2) input {
    letter-spacing: 0px;
    padding-right: 280px;
    display: flex;
  }

   .competition-form__name:nth-child(3) input {
    letter-spacing: 0px;
    padding-right: 240px;
    display: flex;
  }
  .competition-form__fieldset legend {
    display: flex;
  }

  .competition-form__phone input,
  .competition-form__mail input {
    padding-right: 218px;
    align-items: center;
    padding: 15px 20px;
    padding-bottom: 5px;
    padding: 18px 0px;
    font-size: 18px;
    color: @text-color;
    padding-left: 20px;
    letter-spacing: 0.6px;
    border: 2px solid #e5e5e5;
    border-right: 60px solid #e5e5e5;
    padding-right: 160px;

  }

  .competition-form__phone label,
  .competition-form__mail label {
    color: #d22856;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 15px;
    padding-right: 160px;
    padding-bottom: 30px;
  }

  .competition-form__phone {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .competition-form__mail {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .competition-form__reverse-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

}

@media @desktop-widths {
  .competition-form__name {
    padding-left: 0px;
    margin-left: 0px;
    width: 280px;
  }

  .competition-form__name label {
    padding-left: 0px;
    width: max-content;
  }

  .competition-form__phone {
    align-items: flex-start;
    margin-left: 38px;
    padding-top: 0px;
    margin-top: -8px;
  }

  .competition-form__mail {
    align-items: flex-end;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: -160px;
    margin-right: 40px;
    margin-bottom: 0px;
    width: 400px;
    margin-left: 460px;
  }

  .competition-form__mail label {
    padding-right: 70px;
    padding-bottom: 21px;
    margin-bottom: 0px;
  }

  .competition-form__name:nth-child(1) input {
    padding-right: 57px;
  }

  .competition-form__name:nth-child(2) input {
    padding-right: 97px;
  }

  .competition-form__name:nth-child(3) input {
  padding-right: 57px;
  }

  .competition-form__name-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: -4px;
  }

  .competition-form__phone input,
  .competition-form__mail input {
   padding-right: 35px;
  }

  .competition-form__phone input:hover,
  .competition-form__mail input:hover {
    border: 2px solid black;
    border-right: 60px solid #e5e5e5;
  }
}


.competition-form__checkboxes {
  background: @bg-grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

@media @tablet-widths {
  .competition-form__checkboxes {
    background: white;
  }
}

.competition-form__checkboxes li,
.competition-form__radio-block li {
  color:#28363f;
  padding-top: 25px;
  padding-bottom: 32px;
  list-style-type: none;
}

.competition-form__radio-block label,
.competition-form__checkbox-item label {
  cursor: pointer;
  color:#28363f;
}

.competition-form__checkbox-item {
  padding-left: 70px;
  text-align: left;
}

.competition-form__radio-block {
  background: @bg-grey;
  list-style-type: none;
  padding-bottom: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

fieldset {
  border: none;
}

.competition-form_phone-legend {
  display: none;
}

@media @tablet-widths {
  .competition-form_phone-legend {
    display: flex;
  }
}

@media @tablet-widths {
  .competition-form__radio-block {
    background: white;
  }

  .competition-form__checkbox-two-label,
  .competition-form__checkbox-one-label,
  .competition-form__checkbox-three-label,
  .competition-form__checkbox-four-label,
  .competition-form__checkbox-five-label,
  .competition-form__checkbox-six-label {
    padding-left: 30px;
  }

  fieldset {
    display: block;
    width: 600px;
    border: 1px solid #c0c0c0;
    padding: 0px 10px;
    }
}

@media @desktop-widths {
  fieldset {
    padding: 0px;
    width: 938px;
    margin: 0px;
    border: 2px solid #e5e5e5;
  }


  .competition-form__fieldset {
    margin-top: 5px;
  }
}

.competition-form__radio-block li {
  list-style-type: none;
}

.competition-form__checkboxes-title {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 25px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.competition-form__checkbox-filter {
  position: relative; //отвечает за квадраты
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  margin-top: 15px;
}

.competition-form__radio-item input,
.competition-form__checkbox-item input {
  display: none;
}


.competition-form__checkbox-item input[type="checkbox"]:checked ~ label::before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background: white;
  background: url("../img/icon-yes-checkbox.svg") no-repeat;
  left: 27px;
  z-index: 100;
  cursor: pointer;
}

@media @tablet-widths {
  .competition-form__checkbox-item input[type="checkbox"]:checked ~ label::before {
    left: 60px;
}
.competition-form__checkbox-filter {
   width: 320px;
}
}

.competition-form__checkbox-one-label::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border:2px solid #e6e6e6;
}

.competition-form__checkbox-two-label::after {
  position: absolute;
  content: "";
  top: 92px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border: 2px solid #e6e6e6;
}


.competition-form__checkbox-three-label::after {
  position: absolute;
  content: "";
  top: 174px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border: 2px solid #e6e6e6;
}

.competition-form__checkbox-four-label::after {
  position: absolute;
  content: "";
  top: 257px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border: 2px solid #e6e6e6;
}

.competition-form__checkbox-five-label::after {
  position: absolute;
  content: "";
  top: 337px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border:2px solid #e6e6e6;
}

.competition-form__checkbox-six-label::after {
  position: absolute;
  content: "";
  top: 420px;
  left: 20px;
  width: 35px;
  height: 35px;
  background: white;
  border: 2px solid #e6e6e6;
}

@media @tablet-widths {
  .competition-form__checkbox-one-label::after {
    left: 50px;
  }

  .competition-form__checkbox-two-label::after {
    left: 50px;
  }
  .competition-form__checkbox-three-label::after {
    left: 50px;
  }
  .competition-form__checkbox-four-label::after {
    left: 50px;
  }
  .competition-form__checkbox-five-label::after {
    left: 50px;
  }
  .competition-form__checkbox-six-label::after {
    left: 50px;
  }
}

.competition-form__emotion-wrapper {
  padding-top: 13px;
}

@media @tablet-widths {
  .competition-form__emotion-wrapper {
    width: 620px;
    margin: 0 auto;
  }
}

.competition-form__form-item-wrapper {
  padding-top: 23px;
  padding-bottom: 32px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media @desktop-widths {
  .competition-form__form-item-wrapper {
    padding-top: 0px;
  }

  .competition-form__checkbox-filter {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding-top: 7px;
    padding-left: 35px;
    margin-bottom: 30px;
  }

  .competition-form__checkbox-one {
    padding-top: 9px;
    padding-left: 95px;
  }

  .competition-form__checkbox-item label {
    display: flex;
  }

  .competition-form__checkbox-two {
  order: 1;
  }

  .competition-form__checkbox-four {
  order: 1;
  }
  .competition-form__checkbox-six {
  order: 6;
  }

  .competition-form__checkbox-item input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 65px;
    z-index: 100;
    cursor: pointer;

  }

  .competition-form__checkboxes li {
    padding-top: 3px;
  }

  .competition-form__checkbox-two {
    padding-left: 140px;
  }

  .competition-form__checkbox-item {
    padding: 0px;
  }

  .competition-form__checkbox-one-label {
    padding-left: 80px;
    // position: relative;
  }


  .competition-form__checkbox-three-label {
     padding-left: 120px;
   }

  .competition-form__checkbox-five-label {
    padding-left: 105px;
  }

  .competition-form__checkbox-two-label {
    padding-left: 82px;
    padding-top: 25px;
  }

  .competition-form__checkbox-four-label {
    padding-top: 25px;
    padding-left: 158px;
  }

  .competition-form__checkbox-six-label {
    padding-top: 25px;
    padding-left:113px;
  }

  .competition-form__checkboxes-title {
    padding-left: 30px;
    padding-right: 30px;
  }

  .competition-form__checkbox-one-label::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 55px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;

  }

  .competition-form__checkbox-two-label::after {
    position: absolute;
    content: "";
    top: 88px;
    left: 55px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;
  }

  .competition-form__checkbox-three-label::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 370px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;
  }

  .competition-form__checkbox-four input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 380px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-five input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 675px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-five input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 675px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-three input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 380px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-four input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 380px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-six input[type="checkbox"]:checked ~ label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url("../img/icon-yes-checkbox.svg") no-repeat;
    left: 675px;
    z-index: 100;
    cursor: pointer;
    display: flex;
  }

  .competition-form__checkbox-four-label::after {
    position: absolute;
    content: "";
    top: 89px;
    left: 370px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;
  }
  .competition-form__checkbox-five-label::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 665px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;
  }

  .competition-form__checkbox-six-label::after {
    position: absolute;
    content: "";
    top: 90px;
    left: 665px;
    width: 35px;
    height: 35px;
    background: white;
    border:2px solid #e6e6e6;
  }

  .competition-form__emotion-wrapper {
    padding-top: 18px;
    width: 940px;
    margin: 0px auto;
  }
}

.competition-form__emotion-wrapper textarea {
    height: 164px;
    border: 2px solid #e5e5e5;
    padding: 18px 10px;
    font-size: 18px;
    color:@text-color;
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    width: 250px;
    line-height: 30px;
    margin-bottom: 45px;
}

@media @tablet-widths {
  .competition-form__emotion-wrapper textarea {
    width: 465px;
    height: 155px;
  }
}

.competition-form__radio-block-title {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  width: 240px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

}

@media @tablet-widths {
.competition-form__radio-block-title {
  padding-left: 40px;
  padding-right: 40px;
  width: max-content;
  padding-bottom: 40px;
  background: white;
}
}

@media @desktop-widths {
  .competition-form__radio-block-title {
    padding-left: 25px;
    padding-right: 25px
  }
}


.competition-form__emotion-wrapper label {
  color: @pink-color;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.competition-form__emotion-wrapper placeholder {
  padding: 18px 0px;
  font-size: 18px;
  color:@text-color;
  padding-left: 20px;
  width: 258px;
  letter-spacing: 0.6px;
  font-family: "Open Sans";
}


.competition-form__radio-item {
  text-align: left;
  font-size: 18px;
  color: @text-color;
  position: relative;
}

.competition-form__explanation {
  color: @text-color;
  text-transform: uppercase;
  font-size: 14px;
  width: 240px;
  font-weight: lighter;
  display: flex;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  margin: 0px auto;
}

  @media @tablet-widths {
  .competition-form__explanation {
    padding-right: 0px;
    justify-content: flex-end;
    width: 600px;
    margin-top: -85px;
  }
}

.competition-form__radio-filter {
  padding-left: 0px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.competition-form__radio-filter :nth-child(1) {
  padding-top: 35px;
  cursor: pointer;
}

.competition-form__radio-filter :nth-child(2) {
  padding-top: 21px;
}

.competition-form__radio-filter :nth-child(3) {
  padding-top: 19px;
  cursor: pointer;
}

.competition-form__ios {
  margin-right: 39px;
}

.competition-form__Windows-Phone {
  margin-right: 5px;
}

@media @desktop-widths {
  .competition-form__ios {
    margin-right: 65px;
  }

  .competition-form__android {
    margin-right: 27px
  }

  .competition-form__Windows-Phone {
    margin-right: 32px;
  }
}

.competition-form__radio-filter :nth-child(1)::after {
  position: absolute;
  content: "";
  top: 24px;
  left: -70px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  border:2px solid #e6e6e6;
}

.competition-form__android::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -70px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  border:2px solid #e6e6e6;
}

.competition-form__Windows-Phone::after {
  position: absolute;
  content: "";
  top: 8px;
  left: -70px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: white;
  border:2px solid #e6e6e6;
}

@media @tablet-widths {
  .competition-form__radio-filter :nth-child(1)::after {
     top: 14px;
  }
}

@media @tablet-widths {
  .competition-form__radio-filter {
    padding-right: 230px;
    margin-top: -15px;
    margin-bottom: 30px;
  }

  .competition-form__radio-filter :nth-child(1) {
    padding-top: 25px;
    cursor: pointer;
  }
}

.competition-form__radio-item input[type="radio"]:checked ~ label::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background: @pink-color;
  border-radius: 50%;
  left:-58px;
  z-index: 300;
  cursor: pointer;
}

@media @desktop-widths {
  .competition-form__radio-block {
    align-self: flex-end;
    width: max-content;
  }

  .competition-form__radio-block-fieldset {
    margin-left: 500px;
    margin-top: -360px;
    width: 435px;
  }

  .competition-form__radio-filter {
    padding-right: 0px;
  }

  .competition-form__radio-item input[type="radio"]:checked ~ label::before {
    left:-44px;
  }

  .competition-form__radio-filter :nth-child(1)::after {
    left:-56px;
  }
  .competition-form__Windows-Phone::after {
    left:-56px;
  }
  .competition-form__android::after {
    left:-56px;
  }
  .competition-form__emotion-wrapper textarea {
    margin-top: -8px;
    width: 782px;
    height: 90px;
    margin-bottom: 40px;
  }
}

.competition-form__send-btn {
  padding: 21px 52px;
  background: #2aab6d;
  color:white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  border: 0px;
  letter-spacing: 0.7px;
  border-radius: 2px;
  margin: 0px auto;
  margin-bottom: 18px;
}

.competition-form__emotion-wrapper legend {
  display: none;
}

@media @tablet-widths {
  .competition-form__submit {
    padding-top: 40px;
    width: 620px;
    margin: 0px auto;
  }

  .competition-form__emotion-wrapper label {
  display: none;
  }

  .competition-form__emotion-wrapper legend {
  display: flex;
  }

  .competition-form__send-btn {
    margin-left: 0px;
  }
}

@media @desktop-widths {
  .competition-form__submit {
    padding-top: 62px;
    width: 940px;
    margin: 0 auto;
  }

.competition-form__send-btn {
  padding-left: 62px;
  padding-right: 62px;
  margin-left: 0px;
}

.competition-form__explanation {
   display: none;
}

.competition-form__submit-text {
    line-height: 14px;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    margin-top: -55px;
  }
}

.competition-form__send-btn:hover {
  background: #1c9b5e;
}

.competition-form__send-btn:active {
  color: #61b98f;
}

input:hover {
  border: 2px solid black;
}

input:active {
  border: 2px solid @pink-color;
}
